.about-container {
    width: 100%;
    display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: center;
  }
  
  .about-card {
    width: 300px;
    margin: 15px;
  }
  
  .about-card-image{
    max-width: 90%;
    padding-left: 10%;
  }
  .img-container {
    position: relative;
  } 
  .img-zoom-out {
    position: absolute;
    right: 130px;
    bottom: 3px;
    z-index: 4;
  }