  <ng-container *ngIf="isSmallScreen$ | async as isSmallScreen">
    <mat-sidenav-container fullscreen>
      <mat-sidenav [fixedInViewport]="true"
                  class="page-list-sidenav"
                  #pageSidenav>
        <mat-toolbar color="accent">Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item
            *ngFor="let item of leftRouteArr"
            [routerLink]="item.path"
            routerLinkActive="active-page">
            {{ item.title }}
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <button mat-icon-button 
                  matTooltip="Open menu" 
                  (click)="pageSidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          <ng-container *ngIf="header$ | async as header">
            <span class="page-title">{{ header.title }}</span>
          </ng-container>
          <span class="nav-spacer"></span>
          <ng-container *ngIf="(userSrv.curUser$ | async) as curUser">
            <ng-container *ngIf="curUser?.token?.length !== 0">                       
              <!-- <mat-icon class="nav-icon">account_circle</mat-icon> -->
              <button mat-button *ngIf="!isSmallScreen.matches" 
                      class="topnav-icon" (click)="logout()">
                <!-- <img class="nav-icon"
                  src="../assets/img/homepage/user-circle-solid_white.svg"                  
                  alt="user"> -->
                <!-- <mat-icon svgIcon="user-circle" class="nav-icon"></mat-icon> -->                
                <mat-icon aria-hidden="false" aria-label="Logout">exit_to_app</mat-icon>
                Logout
              </button>
              <button mat-button *ngIf="isSmallScreen.matches" 
                      class="topnav-icon" (click)="logout()">
                  <!-- <img class="nav-icon"
                    src="../assets/img/homepage/user-circle-solid_white.svg"                  
                    alt="user"> -->
                <mat-icon aria-hidden="false" aria-label="Logout">exit_to_app</mat-icon>    
              </button>            
            </ng-container>
          </ng-container>
          <a mat-button *ngIf="isSmallScreen.matches" target="_blank"
              href="https://github.com/sergeynetesa/project-mgr-mysql"
              aria-label="GitHub Repository">
            <img class="docs-github-logo"
              src="../assets/img/homepage/github-circle-white-transparent.svg"
              alt="angular">
          </a>
          <a mat-button *ngIf="!isSmallScreen.matches" target="_blank"
            href="https://github.com/sergeynetesa/project-mgr-mysql"
            aria-label="GitHub Repository">
            <img class="docs-angular-logo"
                  src="../assets/img/homepage/github-circle-white-transparent.svg"
                  alt="angular">
            GitHub
        </a>
        </mat-toolbar>
        <div class="mat-typography page-wrapper">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- <button *ngIf="isSmallScreen.matches"
            mat-mini-fab
            color="primary"
            class="sidenav-toggle"            
            (click)="pageSidenav.toggle()">
      <mat-icon>view_list</mat-icon>
    </button> -->
    <!-- <ng-template #loading>
        Loading stuff...
    </ng-template> -->
    <ng-template *ngIf="!isSmallScreen">
      Loading stuff...
    </ng-template>
  </ng-container>

