<mat-card class="project-card">
  <mat-card-header>
    <mat-card-title>Project Management Application</mat-card-title>    
  </mat-card-header>
  <mat-card-content>
      <div class="row">
          <div class="col-first">
            <strong>Project Management Application</strong> &ndash; example of <strong>Angular</strong> client Single Page Application (<strong>SPA</strong>) with <strong>JSON Web Token Authentication</strong>, <strong>REST API Server</strong> and <strong>MySQL database Server</strong>
          </div>
        </div>
    <div class="row">
      <div class="col">
        <div>The Application was developed using
          <ul class="card-content"> 
            <li><strong>Angular 8</strong> platform and framework</li>
            <li><strong>Angular Material 8</strong> - Material Design components for Angular</li>
            <li><strong>NodeJS</strong> &nbsp;and <strong>Angular CLI</strong></li>
            <li><strong>MySQL 5.7</strong></li>
            <li><strong>HTML 5</strong> and <strong>CSS 3</strong>, Style preprocessors:&nbsp; SCSS, SASS, LESS</li>
            <li><strong>TypeScript</strong> and <strong>ECMAScript 2015</strong> (ES6 JavaScript)</li>
            <li><strong>RxJS 6</strong> (Reactive Extensions Library for JavaScript)</li>
          </ul>
        </div>
      </div>
    </div> 
    <div class="row"> 
      <div class="col">
        <p>
          The <strong>REST API Server</strong> implement <strong>JWT Authentication</strong> in a <strong>NodeJS API (Express)</strong>.<br />
          The Application <strong>Backend</strong>&nbsp;
          <a title="MySQL SQL Database" href="https://dev.mysql.com/" target="_blank" rel="noopener"><strong>MySQL SQL Database</strong></a>
          has been implemebted with <strong>Stored Procedures</strong>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>Used Angular buildings blocks:
          <ul class="card-content">
            <li>NgModules, Components, Directives, Pipes</li>
            <li><strong>Services</strong> and <strong>Dependency Injection (DI)</strong></li>
            <li>Reactive Forms and Forms Validations</li>
            <li><strong>RxJS Observables</strong> and <strong>Subjects</strong></li>
            <li><strong>HttpClient</strong> - client HTTP API to communicate with backend services, <strong>Interceptors</strong></li>
            <li><strong>Router</strong> and <strong>Guards</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>The Application functions:
          <ul class="card-content">
            <li>signup (create) <strong>User</strong></li>
            <li>login User by user name and email</li>
            <li>create, read, update, delete (<strong>CRUD operations</strong>) on one or many <strong>Projects</strong></li>
            <li>in selected <strong>Project</strong> create, read, update, delete (CRUD operations) on one or many <strong>Tasks</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Data model:<br /> <strong>User</strong> (1 : M) <strong>Projects</strong> (1 : M) <strong>Tasks</strong></p>
      </div>
    </div>
  </mat-card-content>
    <!-- 
      <mat-card-actions align="end"></mat-card-actions>
    -->
</mat-card>